@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

    <main id="main">
        <header>
            <br /><br /><br /><br /><br />
            <h1 class="text-danger" style="align-content:center;color:#68A4C4 !important">@ViewData["Title"]</h1>
            <p class="text-danger" style="align-content:center;">You do not have access to this resource.</p>
            <br /><br /><br /><br />
        </header>
    </main>
