@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

    <main id="main">
        <br /><br /><br /><br />
        <h1 style="align-content:center;color:#68A4C4 !important">@ViewData["Title"]</h1>
        <h4 style="align-content:center;color:#68A4C4 !important">Enter your email</h4>
        <hr />
        <div class="row" style="margin:0 auto;">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color:#68A4C4;color:#DDECF5;border-color:#68A4C4;">Submit</button>
                </form>
            </div>
        </div>
        <br /><br /><br /><br />
    </main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
