@{
    ViewData["Title"] = "Results";
}
@model dynamic



<script type="text/javascript" src="~/js/script.js"></script>

<main id="main">
    <section class="services">

        <div class="align-items-center" style="margin-bottom:10px;margin-left:15px;">
            <h4 style="margin-bottom:3px;color:#68A4C4;">Sort by:</h4>
            <a href="https://xchangewebsite.azurewebsites.net/Customer/Results/Index/@Model.cat/r/@Model.urltag">Relevance  |</a>
            <a href="https://xchangewebsite.azurewebsites.net/Customer/Results/Index/@Model.cat/phl/@Model.urltag">  Price (High to Low)  | </a>
            <a href="https://xchangewebsite.azurewebsites.net/Customer/Results/Index/@Model.cat/plh/@Model.urltag">  Price (Low to High)   |</a>
            <a href="https://xchangewebsite.azurewebsites.net/Customer/Results/Index/@Model.cat/taz/@Model.urltag">  Title (A-Z)  | </a>
            <a href="https://xchangewebsite.azurewebsites.net/Customer/Results/Index/@Model.cat/tza/@Model.urltag">  Title (Z-A)  | </a>
        </div>

        <div class="container" id="Search-results-container">
            <h2 id="h2" style="color:grey">Search results</h2>
            <div class="row" id="Search-results-items-div">
                @foreach (var Item in Model.SearchResultsItems)
                {
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Search-results-items-div", '@Item.ItemID')</script>
                }
            </div>
        </div>
    </section>
</main>
