@{
    ViewData["Title"] = "Results";
}
@model List<Uplift.Models.Item>



<script type="text/javascript" src="~/js/script.js"></script>

<main id="main">
    <section class="services">

        <div class="align-items-center" style="display:none;margin-bottom:10px;margin-left:15px;">
            <div>
                <label for="sortBy" style="margin-bottom:3px;color:#68A4C4;">Sort by</label>
            </div>
            <select id="sort-results-dropdown" name="sortResultsDropDown">
                <option value="PriceHiLo">Price (highest to lowest)</option>
                <option value="PriceLoHi">Price (lowest to highest)</option>
                <option value="TitleAZ">Title (A-Z)</option>
                <option value="TitleZA">Title (Z-A)</option>
            </select>
        </div>

        <div class="container" id="Search-results-container">
            <h2 id="h2" style="color:grey">Search results</h2>
            <div class="row" id="Search-results-items-div">
                @foreach (var Item in Model)
                {
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Search-results-items-div", 0)</script>
                }
            </div>
        </div>
    </section>
</main>
