@{
    ViewData["Title"] = "Items";
}


<div class="si-row">
    <div class="si-column si-left">
        <img id="si-main-image" src="https://i.imgur.com/hGhLQaH.jpg" alt="Image" />
        <div id="imageGallery" class="iG">
            <img onclick="swapPic1()" id="p1" class="miniImage" src="https://i.imgur.com/hGhLQaH.jpg" alt="Image" />
            <img onclick="swapPic2()" id="p2" class="miniImage" src="https://i.imgur.com/q4oOAWR.jpg" alt="Image" />
            <img onclick="swapPic3()" id="p3" class="miniImage" src="https://i.imgur.com/jPhCDdB.jpg" alt="Image" />
        </div>
    </div>
    <div class="si-column si-right">
        <h2 id="si-Title">Wall Decor</h2>
        <h3 id="si-Price">$12</h3>
        <p><b>Posted:</b> 04/16/20</p>
        <button id="si-Button">
            Contact Seller
        </button>
    </div>
</div>
